@media screen and (min-width: calc(1280px + 20px)) {
    .burger {
        display: none;
    }
}

@media screen and (max-width: calc(1280px + 20px)) {
    .burger {
        display: none;
    }
}

@media screen and (max-width: calc(768px + 20px)) {
    .burger {
        position: fixed;
        top: 0;
        right: 0;
        max-width: 768px;
        width: 520px;
        height: 100%;
        display: flex;
        justify-content: center;
        z-index: 2;
    }

    .burger__popup {
        opacity: 0.3;
        background: #000;
        position: absolute;
        left: -50%;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .burger_off {
        display: none;
    }

    .burger__menu {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: rgba(32, 32, 32, 1);
        z-index: 2;
    }

    .burger__button-close {
        padding: 0;
        margin: 22.44px 22.44px 0 0;
        background: url('../../images/Krest_burger.svg') no-repeat;
        align-self: flex-end;
        background-position: center;
        border: none;
        width: 22px;
        height: 22px;
        flex-shrink: 0;
    }

    .burger__button-close:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    .burger__menu-container {
        margin: 105.44px auto auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
    }

    .burger__menu-items {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: center;
        align-items: center;

    }

    .burger__menu-item {
        padding-bottom: 4px;
    }

    .burger__menu-item:not(:last-child) {
        margin-bottom: 22px;
    }

    .burger__menu-item:last-of-type {
        margin-bottom: 400px;
    }

    .burger__menu-link {
        color: #FFF;
        text-align: center;
        text-decoration: none;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 18px;
        font-family: "Inter", Arial, sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .burger__menu-link:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    .burger__menu-link-active {
        border-bottom: 1px solid #fff;
    }

    .burger__menu-button-profile {
        background: url('../../images/profile.svg') center no-repeat;
        border: none;
        border-radius: 6px;
        background-color: #313131;
        width: 30px;
        height: 30px;
        transition: opacity 0.35s linear;
        cursor: pointer;
    }

    .burger__menu-item-account {
        margin: 0;
        display: flex;
        padding: 0;
        text-decoration: none;
        color: #FFF;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        height: 30px;
        font-family: "Inter", Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }

    .burger__menu-item-account:hover {
        opacity: 0.6;
        cursor: pointer;
    }
}

@media screen and (max-width: calc(450px + 20px)) {
    .burger {
        width: 320px;
        width: 100%;
    }

    .burger__button-close {
        margin: 13.44px 13.44px 0 0;
    }

    .burger__menu-container {
        margin: 99.44px auto 48px;
    }

    .burger__menu-item {
        padding-bottom: 7px;
    }

    .burger__menu-item:not(:last-child) {
        margin-bottom: 15px;
    }

    .burger__menu-item:last-of-type {
        margin-bottom: 444px;
    }

    .burger__menu-link-active {
        border-bottom: 2px solid #fff;
    }
}