@media screen and (min-width: calc(1280px + 20px)) {
    .burger {
        display: none;
    }
}

@media screen and (max-width: calc(1280px + 20px)) {
    .burger {
        display: none;
    }
}

@media screen and (max-width: calc(768px + 20px)) {
    .burger {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 768px;
        width: 66%;
        height: 100%;
        background-color: #202020;
        display: flex;
        justify-content: center;
        z-index: 2;
    }

    .burger__off {
        display: none;
    }

    .burger-menu {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .burger__button_close {
        padding: 0;
        margin: 22.44px 22.44px 0 0;
        background: url('../../images/Krest_burger.svg') no-repeat;
        align-self: flex-end;
        background-position: center;
        border: none;
        width: 22px;
        height: 22px;
    }

    .burger__button_close:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    .burger-menu__container {
        margin: 105.44px auto 92px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .burger-menu__items {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: center;
        align-items: center;

    }

    .burger-menu__item {
        padding-bottom: 4px;
    }

    .burger-menu__item:not(:last-child) {
        margin-bottom: 22px;
    }

    .burger-menu__item:last-of-type {
        margin-bottom: 400px;
    }

    .burger-menu__link {
        color: #FFF;
        text-align: center;
        text-decoration: none;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .burger-menu__link:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    .burger-menu__link_active {
        border-bottom: 1px solid #fff;
    }

    .burger-menu__button_profile {
        background: url('../../images/profile.svg') center no-repeat;
        border: none;
        border-radius: 6px;
        background-color: #313131;
        width: 30px;
        height: 30px;
        transition: opacity 0.35s linear;
        cursor: pointer;
    }

    .burger-menu__item_account {
        margin: 0;
        display: flex;
        padding: 0;
        text-decoration: none;
        color: #FFF;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        height: 30px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }

    .burger-menu__item_account:hover {
        opacity: 0.6;
        cursor: pointer;
    }
}