.header {
    display: flex;
    flex-direction: row;
}

.header__main {
    background-color: #073042;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__button {
    color: #FFF;
    text-decoration: none;
    transition: opacity .2s linear;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.header__button:hover {
    opacity: .6;
    cursor: pointer;
}

.header__button:first-of-type {
    margin: 29px 0;
}

.header__button:last-of-type {
    margin: 21px 70px 21px 30px;
}

.header__button_type_signin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 32px;
    color: #000;
    border: 1px solid #3DDC84;
    border-radius: 3px;
    background: #3DDC84;
}

@media screen and (max-width: calc(768px + 20px)) {
    .header__burger {
        margin: 15px 30px 15px 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        background: url('../../images/Burger_icon.svg') no-repeat center;
        width: 44px;
        height: 44px;
    }

    .header__burger:hover {
        opacity: 0.6;
        cursor: pointer;
    }
}